<!DOCTYPE html>
<html lang="en">


<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Careers</title>
    <link rel="stylesheet" href="{% static 'career.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css'  %}">

</head>

<body>
    <nav class=" breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <div class="careers-container">
        <h1>Careers</h1>

        <p>
            StadPrin is helping victims of crime by empowering law enforcement professionals. Our first product is
            a Writer, which creates draft police reports for officers from their body camera footage and dispatch system
            data.
        </p>

        <p>
            The team was motivated to build StadPrin after seeing a close friend escape a hijacking in Stellenbosch. The
            Hijacker found out where she was living and waited outside by her car. It took the police forty-five minutes
            to arrive. This seemed to me profoundly suboptimal and not acceptable as the status quo. After researching
            policing I discovered the statistic that police officers spend one third of their time on paperwork.
        </p>

        <p>
            It then became my goal to do whatever must be done to drive that number asymptotically close to zero. So the
            we started StadPrin.
        </p>

        <p>
            Of course, We can't do it alone. The team has engineers, we are still in pre-phase development of our demo
            and much of our core model is still busy. We are looking for funding from the Western Cape Goverment. This
            will empower us to hire four engineers to help. Our current product needs a lot of work, but as we develop
            it, we have also come to see that we are in an industry with seemingly endless plains of product space
            mostly untouched. Hence great technologists as ourselves will help make a better world. As much as we have
            many other things we want to build.
        </p>

        <p>
            Our core focus is challenging. If this sounds interesting to you, then you should email me, Dylan at
            Stadprin.com We are planning to hire engineers with exceptional ability and if you could be useful in these
            roles then I would love to speak with you.
        </p>

        <div class="signature">
            <p>Dylan Prinsloo & Braden Van Staden</p>
            <p class="title">Group partners</p>
            <p class="company">Stadprin</p>
        </div>

    </div>

    <a href="https://www.linkedin.com/company/stadprin" class="linkedin-link">
        <img src="{% static 'In-Blue.png' %}" alt="LinkedIn Logo">
        See our openings
    </a>
    <script type="text/javascript" src="{% static 'button-animation-simple.js'  %}"></script>

</body>

</html>