{% extends 'sd_base.html' %}

{% block title %}Home - StadPrin {% endblock %}

{% block content %}

<!-- Start -->
<!-- <article style="--slist: #ebac79, #d65b56">
    <h3>Maintenance Notice</h3>
    <p><small>We are upgrading! Expect limited functionality.</small></p>
</article> -->

<div class="hero-container">
    <nav class="top-nav">
        <a href="{% url 'stadprin:career' %}" class="work-button-link">
            <button class="work-button">Work at StadPrin</button>
        </a>
    </nav>

    <div class="hero-content">
        <div class="logo">STADPRIN</div>
        <h1 class="hero-text">Turn body camera footage into<br>completed police reports</h1>
        <a href="{% url 'stadprin:contact' %}">
            <button class="cta-button">Book a demo</button>
        </a>
    </div>

    <div class="footer">
        <div class="wcg-logo"></div>
        <span class="wcg-text">Backed by<br>Western Cape Government</span>
    </div>
</div>

<!-- Next section -->

<section class="features">
    <div class="stats-container">
        <h2 class="title">Patrol officers are spending<br>too much time on paperwork</h2>

        <div class="stats-grid">
            <div class="stat-item">
                <div class="stat-number">1/3</div>
                <div class="stat-description">The share of a patrol officer's<br>shift spent on paperwork</div>
            </div>

            <div class="stat-item">
                <div class="stat-number">50%</div>
                <div class="stat-description">Increase in effective police hours<br>if paperwork went to zero</div>
            </div>
        </div>
    </div>

    <div class="center-features-container">
        <div class="center-content-wrstadpriner">
            <div class="center-image-section"></div>
            <div class="center-text-section">
                <h2 class="center-title">StadPrin works with your<br>current systems to make<br>patrol more efficient
                </h2>
                <div class="center-features-list">
                    <div class="center-feature-item">
                        <h3>Comprehend the action</h3>
                        <p>StadPrin uses advanced video interpretation and transcription to understand body camera
                            footage, then turns this into useful data and narratives for patrol officers.</p>
                    </div>
                    <div class="center-feature-item">
                        <h3>Get started instantly</h3>
                        <p>No data migration, no complicated installation. Simply provide access to your evidence locker
                            and install our browser extension.</p>
                    </div>
                    <div class="center-feature-item">
                        <h3>Face sheets and narratives</h3>
                        <p>Clicking through forms is time consuming. StadPrin takes over and inserts incident, location,
                            and subject information for patrol officers, and then injects a narrative.</p>
                    </div>
                    <div class="center-feature-item">
                        <h3>Built securely</h3>
                        <p>Hosted on AWS GovCloud, your agency's data is always encrypted and CJIS compliant.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- next section -->

<div class="before-footer-hero-container">
    <div class="before-footer-hero-content">
        <h2 class="before-footer-hero-title">Join Us in Making Patrol More Efficient</h2>
        <p class="before-footer-hero-text">Discover how StadPrin can help save our Police time and increase efficiency
            with our advanced video interpretation and transcription technology.</p>
        <button class="cta-button">Book a Demo</button>
    </div>
</div>
{% endblock %}