{% extends 'base.html' %}

{% block title %}👤 Astro Profile{% endblock %}

{% block breadcrumb-1-label %}Home{% endblock %}
{% block breadcrumb-1-href %}/{% endblock %}

{% block breadcrumb-2-label %}{{ request.user.username }}'s Profile{% endblock %}

<!--Body Content-->
{% block content %}
<style>
    .fade-slide {
        opacity: 0;
        transform: translateX(-100%);
        animation: slideIn 2s forwards, slideOut 2s 4s forwards;
    }

    @keyframes slideIn {
        0% {
            opacity: 0;
            transform: translateX(-100%);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes slideOut {
        0% {
            opacity: 1;
            transform: translateX(0);
        }

        100% {
            opacity: 0;
            transform: translateX(100%);
        }
    }

    .profile-picture {
        height: 200px;
        width: 200px;
        border-radius: 20%;
        object-fit: cover;
    }

    .card {
        background-color: aliceblue;
        color: black;
    }

    /* Add consistent height to the tab content */
    .tab-content {
        min-height: 400px;
        /* Set a consistent height */
    }

    .tab-pane {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
</style>

<div class="container p-2" id="appCard">
    <div class="card">
        <div class="card-header d-flex justify-content-end">
            <ul class="nav nav-pills card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="v-pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                        aria-selected="true">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                        aria-selected="false">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">Settings</a>
                </li>
            </ul>
        </div>
        <div class="card-body tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
                aria-labelledby="v-pills-profile" tabindex="0">
                <div class="row g-4">
                    <!-- Second Column -->
                    <div class="col-md-6 col-12">
                        <div class="row g-4">
                            <!-- Email Address Section -->
                            <div class="col-md-6 col-12">
                                <div class="me-3">
                                    <p class="mb-0 text-end">Email Address</p>
                                    <label for="emailAddress" class="visually-hidden">Email Address</label>
                                    <input type="text" readonly class="form-control-plaintext" id="emailAddress"
                                        value="{{ request.user.email }}">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <!-- Buttons -->
                                <div class="d-flex align-items-center">
                                    <button type="button" class="btn btn-dark" data-mdb-ripple-init>Edit</button>
                                </div>
                            </div>

                            <!-- Password Name Section -->
                            <div class="col-md-6 col-12">
                                <div class="me-3">
                                    <p class="mb-0 text-end">Password <span
                                            class="text-body-secondary ">(tokenised)</span>
                                    </p>
                                    <label for="passwordField" class="visually-hidden">Password</label>
                                    <input type="text" readonly class="form-control-plaintext" id="passwordField"
                                        value="{{ request.user.password }}">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <!-- Buttons -->
                                <div class="d-flex align-items-center">
                                    <a type="button" class="btn btn-dark" data-mdb-ripple-init>Change</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"
                tabindex="0">
                No new messages!
            </div>

            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                tabindex="0">

            </div>
        </div>
    </div>
</div>

{% endblock %}