{% extends 'base.html' %}

{% block title %}📋 SignUp{% endblock %}

<!--Body Content-->

{% block content %}
<div class="p-2">
    <a href="{% url 'users:login' %}" class="btn btn-secondary">Go to Login</a>

</div>
<div class="d-flex justify-content-center m-4">

    <form action="{% url 'users:signup' %}" id="myForm" method="post">
        {% csrf_token %}
        <h2 class="text-end">📝 Please complete the following fields.</h2>

        <div class="row g-2">
            <div class="col-12">
                {% if message %}
                <div class="toast align-items-center m-2 bg-danger text-white w-100" role="alert" aria-live="assertive"
                    aria-atomic="true" id="errorToast">
                    <div class="d-flex">
                        <div class="toast-body">
                            {{ message }}
                        </div>
                        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close">
                        </button>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-md-6 col-12-12 field">
                <label class="label text-dark text-end">Username</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" placeholder="Astro username" name="username" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-user-astronaut"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-12 field">
                <label class="label text-dark text-end">Email Address</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="Email address" name="emailaddress" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-user-astronaut"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-12 field">
                <label class="label text-dark text-end">Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="password" placeholder="Password" name="password" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-user-astronaut"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-12 field">
                <label class="label text-dark text-end">Confirm Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="password" placeholder="Confirm Password" name="confirmpassword" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>
        </div>
        <!-- Submit -->
        <input type="submit" class="btn btn-outline-info mb-3" value="Sign up" />
    </form>
</div>
{% endblock %}